code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
                 monospace;
}

body {
    padding-top: 5rem;
}

main {
    margin: 0 auto;
    padding: 3rem 1.5rem;
    max-width: 700px;
}
