{% extends 'base.html' %}

{% block content %}
  <h2>Submit a Report</h2>
  {% if user_data.sites|length > 1 %}
    <p>Select a site:</p>
    <ul>
      {% for s in user_data.sites %}
        <li>
          <a href="{{ url_for('new_report', site_id=s.id) }}">
            {{ s.name }}
          </a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <a href="{{ url_for('new_report', site_id=user_data.sites[0].id) }}">
      New report for {{ user_data.sites[0].name }}
    </a>
  {% endif %}
  <h2>My Reports</h2>
  <ul>
    {% for r in user_data.reports %}
      <li>
        <div>
          <dl>
            <dt>Submitted:</dt>
            <dd>{{ r.submit_datetime }}</dd>
            <dt>Site name:</dt>
            <dd>{{ r.site_name }}</dd>
            <dt>Report Date:</dt>
            <dd>{{ r.report_date  or r.report_month_start}}</dd>
            <dt>Site Closed?:</dt>
            <dd>{{ r.closed or False}}</dd>
            <dt>Notes:</dt>
            <dd>{{ r.notes }}</dd>
          </dl>
        </div>
      </li>
      {% endfor %}
  </ul>
  {#
  <dl>
    <dt>Last 10 visits</dt><dd>
      {% for time in times %}
        <p>{{ time['timestamp'] }}</p>
      {% endfor %} </dd>
  </dl>
  #}
{% endblock %}
